%h1 Listing people

= link_to 'New Person', new_person_path
= will_paginate(@people)

%table
  %tr
    %th Canonical Name
    %th Composer
    %th Performer
    %th Birth
    %th Death
    %th
    %th
    %th

  - @people.each do |person|
    %tr
      %td= person.canonical_name
      %td
        - if person.composer?
          %i.icon-ok
      %td
        - if person.performer?
          %i.icon-ok
      %td
        = person.date_of_birth
        = person.birth_location_id
      %td
        = person.death_location_id
        = person.date_of_death
      %td= link_to '<i class=icon-eye-open>'.html_safe, person
      %td= link_to '<i class=icon-pencil>'.html_safe, edit_person_path(person)
      %td= link_to '<i class=icon-remove>'.html_safe, person, :confirm => 'Are you sure?', :method => :delete

= will_paginate(@people)
