%h1
  Compositions
  - if can? :edit, :compositions
    = link_to 'Create New Composition', new_admin_composition_path, :class => 'btn btn-small'
    %p
.well
  = simple_form_for @composition, :method => :get, :html => {:class => 'form-inline form-search span7' } do |f|
    = f.input_field :title, :class => 'input-small span3', :placeholder => "enter a title"
    = f.submit 'Search', :class => 'btn btn-small'

= will_paginate(@compositions)

%table.table.table-striped
  %tr
    %th ID
    %th Title
    %th Composed
    %th Person
    %th Rating
    %th Rank
    %th Views
    %th
    %th

  - @compositions.each do |composition|
    %tr
      %td= composition.id
      %td= composition.title_link
      %td
        = composition.year_composed_begin
        to
        = composition.year_composed_end
      %td= link_to composition.composer.canonical_name, admin_person_path(composition.composer)
      %td= composition.rating
      %td= composition.rank
      %td= composition.views
      %td= link_to 'Edit', edit_admin_composition_path(composition) if can? :edit, :compositions
      %td= link_to 'Delete', admin_composition_path(composition), :confirm => 'Are you sure?', :method => :delete if can? :delete, :compositions
%br

= will_paginate(@compositions)
