%p#notice= notice

%p
  %b Title:
  = @composition.title
%p
  %b Composer:
  = @composition.composer.canonical_name
%p
  %b Year composed begin:
  = @composition.year_composed_begin
%p
  %b Year composed end:
  = @composition.year_composed_end
%p
  %b Rating:
  = @composition.rating
%p
  %b Rank:
  = @composition.rank
%p
  %b Views:
  = @composition.views

%h2 Performances
%ul
  -PerformanceDecorator.decorate(@composition.performances).each do |p|
    %li
      = p.performance_link