%section#top-menu
  .container
    .row
      .span3
        #google_translate_element
        :javascript
          function googleTranslateElementInit() {
            new google.translate.TranslateElement({
              pageLanguage: 'en'
            }, 'google_translate_element');
          }
        %script{:src => "http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"}
      .span9
        %ul.top-social
          - if user_signed_in?
            %li= current_user.email
            %li= link_to 'Log Out', logout_path
          - else
            %li= link_to 'Log in', login_path
            %li= link_to 'Request Account', new_user_registration_path
%header#header
  .container
    .row-fluid
      .logo
        =link_to image_tag("logo.png"), root_path
    %nav#menu
      %ul
        - if user_signed_in? && current_user.active?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => 'dropdown'}
              Performances
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'View', admin_performances_path
              %li= link_to 'New', new_admin_performance_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => 'dropdown'}
              Compositions
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => admin_compositions_path} View
              %li
                %a{:href => new_admin_composition_path} New
          -#todo split People into Composers and Performers
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => 'dropdown'}
              People
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => admin_people_path} View
              %li
                %a{:href => new_admin_person_path} New
        - else
          %li= link_to 'Performances', performances_path
          %li= link_to 'Compositions', compositions_path
          %li= link_to 'Composers', composers_path
          %li= link_to 'Performers', performers_path
