%h2 Info
%p
  %b Canonical name:
  = @person.canonical_name
%p
  %b Primary Role:
  = @person.person_type
%p
  %b Date of birth:
  = @person.date_of_birth
%p
  %b Birth location:
  = @person.birth_location
%p
  %b Death location:
  = @person.death_location
%p
  %b Date of death:
  = @person.date_of_death

- if @person.performer?
  %h2 Performances
  %ul
    -@person.performances.each do |p|
      %li
        = link_to "#{p.composition.title} (#{p.perf_date})", performance_path(p)

- if @person.composer?
  %h2 Compositions
  %ul
    -@person.compositions.each do |c|
      %li
        = link_to c.title, composition_path(c)

%h2 Other Roles
%ul
  -@person.performance_roles.each do |r|
    %li
      ="#{r.performance.composition.title}: #{r.role_name}"
