%p
  %b Canonical name:
  = @person.canonical_name
%p
  %b Role:
  = @person.person_type
%p
  %b Date of birth:
  = @person.date_of_birth
%p
  %b Birth location:
  = @person.birth_location
%p
  %b Death location:
  = @person.death_location
%p
  %b Date of death:
  = @person.date_of_death
