= simple_form_for [:admin, @performance] do |f|
  -if @performance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@performance.errors.count, "error")} prohibited this performance from being saved:"
      %ul
        - @performance.errors.full_messages.each do |msg|
          %li= msg

  #create_performer
    = f.label 'Select Main Performer'
    = collection_select(:performance, :person_id, Person.performers.order('canonical_name'), :id,
                        :canonical_name, {:prompt => 'Select a Performer'}, {:class => "chzn-select"})
    - if can? :create, :person
      %a#create_performer_link{href:'javascript:void(0)'} Create New Performer
  #performer_fields

  #create_composition
    = f.label :composition_tokens, 'Select Composition'
    = f.text_field :composition_tokens,
    { 'data' => @performance.composition.id.nil? ? {} : {:load => CompositionDecorator.decorate([@performance.composition])} }
    - if can? :create, :composition
      &nbsp;
      %a#create_composition_link{href:'javascript:void(0)'} Create New Composition
  #composition_fields

  .clearfix

  = f.label 'Performance Type'
  = collection_select(:performance, :performance_type_id, PerformanceType.order('name'), :id,
                      :name, {:prompt => 'Select a Performance Type'}, {:class => "chzn-select"})

  = f.label 'URL'
  = f.fields_for :url do |b|
    %div.span4
      %fieldset.well
        = b.label 'URL'
        = b.text_field :http, {:class => 'input-large'}
        = b.label 'Embed Code'
        = b.text_area :embeded_code

    %div.span4
      #video.well
        !=@performance.url.embeded_code

  .clearfix

  = f.input :perf_date, :as => :date_picker, label: 'Performance Date'

  %h1 Additional Roles
  = f.fields_for :performance_roles do |b|
    = collection_select(:performance_role, :person_id, Person.by_canonical_name, :id,
                      :canonical_name, {:prompt => 'Select a Person', :class => "chzn-select"})
    = b.label 'Role'
    = b.text_field :role_name

  .actions
    = f.submit 'Save'
