= form_for @performance, :url => admin_performances_path do |f|
  -if @performance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@performance.errors.count, "error")} prohibited this admin_performance from being saved:"
      %ul
        - @performance.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
