%h1 Performances

= will_paginate(@performances)

%table.table.table-striped
  %tr
    %th #
    %th Composition
    %th Type
    %th URL
    %th Performer
    %th
    %th
    %th

  - @performances.each do |performance|
    %tr
      %td= performance.id
      %td= performance.composition_link
      %td= performance.type_name
      %td= performance.url_link
      %td= performance.performer_link
      %td= link_to 'Show', performance_path(performance)
      %td= link_to 'Edit', edit_admin_performance_path(performance)
      %td= link_to 'Destroy', admin_performance_path(performance), :confirm => 'Are you sure?', :method => :delete

%br

= will_paginate(@performances)

= link_to 'New Performance', new_admin_performance_path, :class => 'btn btn-small'
