= simple_form_for [:admin, @person], :html => {:class => 'form-horizontal' } do |f|
  -if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg

  = f.input :canonical_name
  = f.input :composer
  = f.input :performer
  = f.input :date_of_birth, :start_year => Person::EARLIEST_YEAR
  -#= f.input :birth_location
  -#= f.input :death_location
  = f.input :date_of_death, :start_year => Person::EARLIEST_YEAR
  = f.submit 'Save'
