= simple_form_for [:admin, @person], :html => {:class => 'form-inline' } do |f|
  -if @person.errors.any?
    .alert.alert-error
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg

  .row-fluid
    .span8
      = f.input :canonical_name
      = f.input :person_type
      = f.input :date_of_birth, :as => :date_picker
      = f.input :place_of_birth
      = f.input :place_of_death
      = f.input :date_of_death, :as => :date_picker
      = f.submit 'Save'
