= simple_form_for [:admin, @person], :html => {:class => 'form-inline' } do |f|
  -if @person.errors.any?
    .alert.alert-error
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg

  .row-fluid
    .span8
      = f.input :canonical_name
      = f.input :composer
      = f.input :performer
      = f.input :date_of_birth, :start_year => Person::EARLIEST_YEAR
      = f.input :place_of_birth
      = f.input :place_of_death
      = f.input :date_of_death, :start_year => Person::EARLIEST_YEAR
      = f.submit 'Save'
    .span4
      %fieldset.well
        - @person.epithets.each do |epithet|
          = f.simple_fields_for :epithets do |e|
            = e.association :language
            = e.input :title, :placeholder => '(e.g. Dr., Mr., Mrs.)'
            = e.input :forename
            = e.input :middle_name
            = e.input :prefix
            = e.input :surname
            = e.input :suffix
            = e.input :stage_name
