= simple_form_for [:admin, @person], :method => :get, :html => {:class => 'form-inline form-search span2' } do |f|
  = f.input :canonical_name, :class => 'input-small'
  = f.input :composer
  = f.input :performer
  = f.submit 'Search', :class => 'btn btn-small'
