%h1 People

.btn= link_to 'New Person', new_admin_person_path
= will_paginate(@people)

%table.table.table-striped
  %tr
    %th
    %th
    %th Canonical Name
    %th Birth
    %th Death
    %th
    %th
    %th

  - @people.each do |person|
    %tr
      %td
        - if person.composer?
          %i.icon-pencil{:title => 'Composer'}
      %td
        - if person.performer?
          %i.icon-music{:title => 'Performer'}
      %td= person.canonical_name
      %td
        = person.date_of_birth
        = person.birth_location_id
      %td
        = person.death_location_id
        = person.date_of_death
      %td= link_to '<i class=icon-eye-open>'.html_safe, admin_person_path(person)
      %td= link_to '<i class=icon-list-alt>'.html_safe, edit_admin_person_path(person)
      %td= link_to '<i class=icon-remove>'.html_safe, admin_person_path(person), :confirm => 'Are you sure?', :method => :delete

= will_paginate(@people)
