%h1
  People
  = link_to 'Create New Person', new_admin_person_path, :class => 'btn btn-small'

.well= render 'search_box'

= will_paginate(@people)

%table.table.table-striped
  %tr
    %th
    %th
    %th Canonical Name
    %th Birth
    %th Death
    %th
    %th
    %th

  - @people.each do |person|
    %tr
      %td
        - if person.composer?
          %i.icon-pencil{:title => 'Composer'}
      %td
        - if person.performer?
          %i.icon-music{:title => 'Performer'}
      %td= link_to person.canonical_name, [:admin, person]
      %td
        = person.date_of_birth
        %em.quiet= "#{person.place_of_birth}, #{person.birth_country.name}"
      %td
        = person.date_of_death
        %em.quiet= "#{person.place_of_death}, #{person.death_country.name}"
      %td= link_to '<i class=icon-eye-open>'.html_safe, admin_person_path(person)
      %td= link_to '<i class=icon-list-alt>'.html_safe, edit_admin_person_path(person)
      %td= link_to '<i class=icon-remove>'.html_safe, admin_person_path(person), :confirm => 'Are you sure?', :method => :delete

= will_paginate(@people)
