%p
  %b Canonical name:
  = @person.canonical_name

%p
  %b Names
  %ul
    - @person.epithets.each do |epithet|
      %li
        = epithet.language.canonical_name
        = epithet.full_name

%p
  %b Composer:
  = @person.composer
%p
  %b Performer:
  = @person.performer
%p
  %b Date of birth:
  = @person.date_of_birth
%p
  %b Birth location:
  = @person.birth_location_id
%p
  %b Death location:
  = @person.death_location_id
%p
  %b Date of death:
  = @person.date_of_death

= link_to 'Edit', edit_admin_person_path(@person)
\|
= link_to 'Back', admin_people_path
