%h1 Performances

- if can? :create, :performance
  = link_to 'Create New Performance', new_admin_performance_path, :class => 'btn btn-small'
  %p

= will_paginate(@performances)

%table.table.table-striped
  %tr
    %th #
    %th Composition
    %th Type
    %th URL
    %th Performer
    %th
    %th
    %th

  - @performances.each do |performance|
    %tr
      %td= performance.id
      %td= performance.composition_link
      %td= performance.type_name
      %td= performance.url_link
      %td= performance.performer_link
      -#todo: wrap these in permissions using cancan
      %td= link_to 'Show', performance_path(performance)
      - if can? :edit, :performance
        %td= link_to 'Edit', edit_admin_performance_path(performance)
      - if can? :delete, :performance
        %td= link_to 'Delete', admin_performance_path(performance), :confirm => 'Are you sure?', :method => :delete

%br

= will_paginate(@performances)