!!! 5
%html{:lang => 'en'}
  %head= render :partial => 'site/html_head'
  %body{:class => @body_class}
    %header
      = render :partial => 'site/navbar'
    .container
      - flash.each do |name, msg|
        %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
          %a.close{"data-dismiss" => "alert"} ×
          = msg
      .row
        .span12
          .well= yield
      %footer
        .row
          .span12
            .well Admin Footer
