<!DOCTYPE html>
<html>
<head>
  <title>Barcode</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => "shared/header" %>
	<section id="container">
		<div class="container">
			<div class="row">
				<div class="span2">
					<%= render :partial => "shared/left_sidebar" %>
				</div>	
				<div class="span8">
					<%= yield %>
				</div>
				<div class="span2">
					<%= render :partial => "shared/right_sidebar" %>
				</div>					
			</div>
		</div>
	</section>		

	<%= render :partial => "shared/footer" %>
</body>
</html>
